.book-detail-container {
    height: 100vh;
}

.back-link {
    margin-top: 5px;
    margin-left: 5px;
    color: #333;
}

.back-link:hover {
    color: #333;
}

.book-content {
    margin: 5vh 10vw 5vh 10vw;
    padding: 20px;
    height: calc(100% - 15vh);
    border: 1px solid grey;
    box-shadow: 10px 15px rgba(0,0,0,0.2);
    background-color: #333;
    color: rgba(255,255,255,0.8);
}

.book-info {
    display: flex;
    flex-direction: row;
}

.book-data {
    margin-left: 10px;
}

hr {
    background-color: rgba(255,255,255,0.8) ;
}